<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <title>Contact Page</title>
</head>
<body>
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

        <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Physical Shop</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <img src="static/css/shop.png" alt="shop">
                    <li><h4>Address</h4></li>

                    <li>Ramlalla Medical Store, Station road, In front of housing board society, Kanchghar </li>
                    
                  </ul>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Call Us</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4">
                    <img src="static/css/phone.png" alt="">
                    <li><h4>Mobile Number</h4></li>
                    <li>Mr. Sharad Kumar Mehta</li>
                    <li>Shop Owner</li>
                    <li>+91 9893848384</li>
                  </ul>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Email Address</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mt-3 mb-4"  >
                    <img src="static/css/mail.png" alt="mail" style="height: 227px ">
                    <li><h4>Gmail-id</h4></li>
                    <li>Shivansh mehta</li>
                    <li>shivanshmehta2003@gmail.com</li>
                    <li>Sharad Mehta</li>
                    <li>sharadmehta1973@gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
</section>
<!--Section: Contact v.2-->
</body>
</html>