<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <title>Home Page</title>
</head>

<body>
    <div
        class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Ramlalla Medicose</h5>
        <nav class="   my-2 my-md-0 mr-md-3">
            <a class="p-2 text-light" href="/order">Order</a>
            <a class="p-2 text-light" href="/contact">Contact Us</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </div>

    
      

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Paracetamol-650mg</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rs 700</h1><s>Rs 850</s>
                    <img src="static/css/paracetamol.jpg" alt="Paracetamol-650">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 box includes 10 strips</li>
                        <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now</a></button>
                </div>
            </div>
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Crocin</h4>
                </div>
                <div class="card-body">
                    <div>
                        <h1 class="card-title pricing-card-title">Rs 500</h1><s>Rs900</s>
                    </div>
                    <img src="static/css/download.jfif" alt="Paracetamol-650">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 box includes 10 strips</li>
                        <br>
                        <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now </a> </button>
                </div>
            </div>
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Paracetamol-650mg</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rs 700</h1><s>Rs900</s>
                    <img src="static/css/paracetamol.jpg" alt="Gasex">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>1 box includes 10 strips</li>
                        <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now </a> </button>
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Crocin</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <h1 class="card-title pricing-card-title">Rs 500</h1><s>Rs760</s>
                        </div>
                        <img src="static/css/download.jfif" alt="Paracetamol-650">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 box includes 10 strips</li>
                            <br>
                            <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now </a> </button>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paracetamol-650mg</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Rs 700</h1><s>Rs890</s>
                        <img src="static/css/paracetamol.jpg" alt="Paracetamol-650">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 box includes 10 strips</li>
                            <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now </a> </button>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Crocin</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <h1 class="card-title pricing-card-title">Rs 500</h1><s>Rs809</s>
                        </div>
                        <img src="static/css/download.jfif" alt="Paracetamol-650">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 box includes 10 strips</li>
                            <br>
                            <li> Used to treat headaches, migraine, nerve pain, toothache, sore throat, period (menstrual) pains, arthritis, muscle aches, and the common cold.</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary"> <a href="/order"> Order-Now </a> </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</body>

</html>